body
{
    font-family: Tahoma, Verdana, sans-serif;
    color: #ffffff;
    background-color: #000000;
}

a
{
    color: lightblue;
}

table
{
    border-style: solid;
    border-width: thin;
    border-collapse: collapse;
    background-color: #222222;
}

th
{
    border-style: solid;
    border-width: thin;
    background-color: #333333;
    text-align: left;
    font-weight: normal;
}

td
{
    border-style: solid;
    border-width: thin;
    background-color: #222222;
}